<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91542018746-kbj2o1ak11gmjsnjjit6ltum8v8n94i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91542018746-kbj2o1ak11gmjsnjjit6ltum8v8n94i1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>91542018746-6scm5tlcv8r5ojutrpa6jok95raplf6p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7cm9jVu_AZq2dQvw9OZ2vc4O71In02bQ</string>
	<key>GCM_SENDER_ID</key>
	<string>91542018746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ken.alxVoyager</string>
	<key>PROJECT_ID</key>
	<string>alx-voyager</string>
	<key>STORAGE_BUCKET</key>
	<string>alx-voyager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91542018746:ios:94f2fc67d8ab8b11904083</string>
</dict>
</plist>